img 
  max-width: 100%
a:hover 
  text-decoration: none
.wrapper-home 
  background: linear-gradient(90deg, rgba(16, 12, 101, 1) 0%, rgba(7, 7, 190, 1) 49%, rgba(28, 41, 135, 1) 100%)
  position: relative
  padding: 76px 0 187px
  h1 
    max-width: 800px
    margin: 0 auto
    text-align: center
  div
    width: 400px
    position: absolute
    bottom: 0
    right: 0
h2 
  max-width: 800px 
  text-align: center
  margin: 0 auto

.section-panel 
  padding: 60px 0
  background: linear-gradient(90deg, rgba(28, 41, 135, 1) 0% ,rgba(16, 12, 101, 1) 49%, rgba(7, 7, 190, 1) 100%)
  position: relative
  .card-body 
    z-index: 1
    position: relative
    margin-bottom: 20px
    background: #c37601
    border-radius: 5px
    transition: .5s
    &:hover 
      background: #ffbc00
      a
        color: #0120ff !important
    .row 
      .img-card 
        display: flex
        justify-content: center
        align-items: center
        img 
          border-radius: 5px
      .copy-link
        display: flex 
        align-items: center
        a
          color: #fff
          font-size: 21px
.car
  position: absolute
.car-1 
  bottom: 0 
  right: 30px
.car-2
  bottom: 0
  left: 20px



  
// .panel-tabe 
//   padding: 60px 0
//   background: #ff9800
//   .nav-tabs
//     padding-bottom: 20px
//     border-bottom: none
// .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link
//   border-radius: 5px
//   border: none
//   color: #000
//   background: #fd8101
//   margin: 20px
//   &.active
//     background: #0089ff
//     color: #fff
// .card 
//   border: 1px solid #ff9800
//   background-color: #ff9800
//   .card-body 
//     background: #ff9800
//     .img-card
//       justify-content: center
//       display: flex
//       flex-direction: column
//       img 
//         width: 100% 
//         border-radius: 50%
//     .copy-link 
//       justify-content: center
//       display: flex
//       flex-direction: column
//       a 
//         border-radius: 5px
//         background: #e27311
//         color: #fff
//         position: relative
//         padding: 12px
//         transition: .2s
//         &:hover 
//           background-image: linear-gradient(to top, #e27311, #de9224, #e27311)
// .btn-link
//   color: #fff
//   &:hover 
//     color: #1aeb16
//     text-decoration: none
// .accordion>.card>.card-header
//   background: linear-gradient(90deg, rgba(16, 12, 101, 1) 0%, rgba(7, 7, 190, 1) 49%, rgba(28, 41, 135, 1) 100%)
//   margin-bottom: 4px
//   border-radius: 5px
// .nav-tabs .nav-item 
//     width: 50%
//     text-align: center
//     a 
//       min-height: calc(100% - 20px)



.footer 
  background: linear-gradient(90deg, rgba(16, 12, 101, 1) 0%, rgba(7, 7, 190, 1) 49%, rgba(28, 41, 135, 1) 100%)
  padding: 70px 15px