img 
  max-width: 100%
a:hover 
  text-decoration: none
.wrapper-home 
  background: linear-gradient(90deg, rgba(16, 12, 101, 1) 0%, rgba(7, 7, 190, 1) 49%, rgba(28, 41, 135, 1) 100%)
  position: relative
  padding: 180px 0 224px
  h1 
    max-width: 800px
    margin: 0 auto
    text-align: center
  div
    width: 400px
    position: absolute
    bottom: 0
    right: 0
.panel-tabe 
  padding: 60px 0
  background: #ff9800
  .nav-tabs
    padding-bottom: 20px
    border-bottom: none
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link
  border-radius: 5px
  border: none
  color: #000
  background: #fd8101
  margin: 20px
  &.active
    background: #0089ff
    color: #fff
.card 
  border: 1px solid #ff9800
  background-color: #ff9800
  .card-body 
    background: #ff9800
    .img-card
      justify-content: center
      display: flex
      flex-direction: column
      img 
        width: 100% 
        border-radius: 50%
    .copy-link 
      justify-content: center
      display: flex
      flex-direction: column
      a 
        border-radius: 5px
        background: #e27311
        color: #fff
        position: relative
        padding: 12px
        transition: .2s
        &:hover 
          background-image: linear-gradient(to top, #e27311, #de9224, #e27311)
.btn-link
  color: #fff
  &:hover 
    color: #1aeb16
    text-decoration: none
.accordion>.card>.card-header
  background: linear-gradient(90deg, rgba(16, 12, 101, 1) 0%, rgba(7, 7, 190, 1) 49%, rgba(28, 41, 135, 1) 100%)
  margin-bottom: 4px
  border-radius: 5px
.nav-tabs .nav-item 
    width: 50%
    text-align: center
    a 
      min-height: calc(100% - 20px)
.footer 
  background: linear-gradient(90deg, rgba(16, 12, 101, 1) 0%, rgba(7, 7, 190, 1) 49%, rgba(28, 41, 135, 1) 100%)
  padding: 70px 15px